<header>
  <h1>Angular + D3</h1>
</header>
<h1>Sortable bar chart example</h1> 
<app-sortable-bar></app-sortable-bar>
<h1>Pie chart example</h1> 
<app-pie></app-pie>
<h1>Sequence sunburst chart example</h1> 
<app-sequence-sunburst></app-sequence-sunburst> 